.hd1{color: rgb(87, 141, 6);}
.hd2{color: rgb(84, 134, 8);}
.carousel-inner{
    height: 800px;
}
.hd3{text-align: center; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;margin-top: 50px;}
.pg1{text-align: center;}
.img5{width: 200px;margin-left: 210px;}
.img3{width: 200px; margin-left: 210px;}
.img4{width: 200px;margin-left: 210px;}
.hdr1{text-align: center;}
.btn1{background-color: rgb(25, 148, 25);margin-left: 265px;color: white;}
.rw1{margin-bottom: 50px;}
.div65{
    margin-left: 200px; margin-top: 80px;
}
.i7{width: 100px;}
.rw67{margin-top: 80px;padding-top: 50px;color: white;background-color: black;padding-left: 250px;}
.rw76{background-color: rgb(0, 0, 0) ;}
.mm5{margin-left: 700px;}
.nn6{
    background-color: black;padding-bottom: 80px;
}
.btn7{margin-left: 170px;
}
.vv5{color: green;}
