h1{
    background-color: bisque;
}
h2{
    background-color: bisque;
}
div1{
    background-color: black;



}
h4{
    color: white;
}
div2{
    border: 2px solid rgb(5, 0, 0);
}
.div{
    background-color: gray;
}