.img1{
    width: 100%;
}

.div1{
    margin-top: 60px;
}
.img3{
    width: 100%;
}
.ab1{
    background-image: url(puma_9.jpg); height: 500px;
}
.ab2{
    background-image: url(pexels-lucas-pezeta-5402944.jpg);height: 500px;
}
.hd1{text-align: center; margin-top: 250px; color: white;}
.pg1{text-align: center;  color: white;}
.hd21{
    text-align: center;color: rgb(177, 177, 177);margin-top: 100px;margin-bottom: 100px;
}
.im32{width: 100px; border-radius: 70px; margin-left: 250px;}

.pgd3{margin-left: 150px;margin-right: 150px;text-align: center;}
.pg54{
    text-align: center;
}
.hg1{text-align: center;}
.rw2{margin-bottom: 100px;}
.img00{width: 100%;}
.rw0{margin-top: 50px;margin-bottom: 100px; background-color: rgb(240, 72, 72); padding-top: 100px;
padding-bottom: 100px;}
.oj{text-align: center;}
.lm{width: 80px;margin-left: 900px;}